Django==1.4.5
SPARQLWrapper==1.5.2
boto==2.10.0
distribute==0.6.34
dj-database-url==0.2.1
gunicorn==0.17.2
html5lib==0.95
httplib2==0.7.7
rdflib==4.0.1
#rdflib-jsonld==0.1
#rdflib-rdfjson==0.1
simplejson==3.3.0
wsgiref==0.1.2
dj-static==0.0.5
static==0.4
pycurl
python-cjson